@import "_variables-mixins";
@import "../css/fonts.css";

#wrapper {
	position: relative;
	font-family: 'SourceSansPro-Regular';
	@media (max-width: 997px) {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}	
	#site-header {

	}
	#site-main {
		width: 100%;
		float: left;
		> #container {
		    @include wrapper(1200px, 15em, 10em);
		}
	}
	#site-footer {
		background-color: #000;
		color: #fff;
		padding: 3.5em 0;
		text-align: center;
		width: 100%;
		float: left;
	}

}

/* =Header
-------------------------------------------------------------- */
#nav-fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgba(#000, 0.8);
	color: #fff;
	padding: 2.1em 0;
	z-index: 3;
	@media (max-width: 767px) {
		padding: 0;
	}
	.wrapper {
		max-width: 900px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	    @media (max-width: 930px) {
			width: 100%;
			float: left;
			margin: 0 ;
			padding: 0 1.5em;
		}
	}
}
#branding {
	@media (max-width: 767px) {
		position: absolute;
		left: 10px;
		top: 16px;
		z-index: 10;
	}
	img {
		height: 20px;
	}
}
#primany-menu {
}

/* =Header
-------------------------------------------------------------- */


/* =Menu
-------------------------------------------------------------- */



.menu {
	display: flex;
	@media (max-width: 767px) {
		flex-wrap: wrap;
	}
	.menu-item {
		position: relative;
		border-right: 1px solid #fff;
		@media (max-width: 767px) {
			border-right: none;
		}
		a {
			display: block;
			font-size: 1.5em;
			padding: 0 0.9em;
			text-transform: capitalize;
			line-height: 1;
			&:hover {
				background: none;
			}
			&:focus {
				background-color: transparent;
			}
		}

	}
}

#footer-menu {
	.menu {
		flex-wrap: nowrap;
	}	
}

.mean-container {
	.mean-bar {
		background: #000;
		z-index: 9;
	}
	.mean-nav {
		background: #000;
		ul {
			li {
				a {
					font-size: 12px;
					padding: 0.7em 5%;
				}
			}
		}
	}
	a.meanmenu-reveal {
		width: 28px;
		span {
			height: 4px;
			margin-top: 4px;
		}
	}	
} 
	






/* =Footer
-------------------------------------------------------------- */

.other_elements {
    position: absolute;
}

#footer_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 767px) {
		flex-wrap: wrap;
	}
	> * {
		margin: 0 6em;
		@media (max-width: 900px) {
			margin: 1em 3em;
		}
	}
}
#footer-menu {

}
#branding_footer {

}
#social_list {

}
/* =Footer
-------------------------------------------------------------- */





/* =Socials
-------------------------------------------------------------- */


.social_list {
    @include display-flex;
    li {
        margin: 0 1.2em;
        @media (max-width: 850px) {
            margin: 0 0.8em;
        }
        a {
            display: inline-block;
            text-indent: -999em;
            @include bg-hundred;
        }
    }
}

.icon_facebook {
    background-image: url(../images/social-facebook.png);
    width: 7px;
    height: 15px;
}
.icon_twitter {
    background-image: url(../images/social-twitter.png);
    width: 20px;
    height: 15px;
}
.icon_instagram {
    background-image: url(../images/social-instagram.png);
    width: 15px;
    height: 15px;
}
.icon_linkedin {
    background-image: url(../images/social-linkedin.png);
    width: 17px;
    height: 16px;
}


/* =Socials End
-------------------------------------------------------------- */



/* =Common
-------------------------------------------------------------- */
.page_wrapper {
	width: 100%;
	float: left;
}
.page-header {
	background-color: transparent;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	padding: 0;
	margin: 0;
	border-bottom: none;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	.heading_contents {
		max-width: 410px;
		.head_logo {
			width: 100%;
			display: inline-block;
		}
		h1 {
			width: 100%;
			display: inline-block;
			margin: 1.7em 0;
			font-size: 2.5em;
			letter-spacing: 0.15em;
			color: #fff;
			font-family: 'SourceSansPro-Semibold';
		}
	}
}
.page-main {
	padding: 9em 0;
	.wrapper {
		@include wrapper(1330px);
	}
}
/* =Common End
-------------------------------------------------------------- */